apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "aether-os.fullname" . }}-ui
  labels:
    {{- include "aether-os.uiLabels" . | nindent 4 }}
spec:
  replicas: {{ .Values.ui.replicas }}
  selector:
    matchLabels:
      {{- include "aether-os.uiSelectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "aether-os.uiSelectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: ui
          image: "{{ .Values.ui.image.repository }}:{{ .Values.ui.image.tag }}"
          imagePullPolicy: {{ .Values.ui.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.ui.port }}
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 15
          resources:
            {{- toYaml .Values.ui.resources | nindent 12 }}
